
node_modules/
.DS_Store
*.log
*.pem
*.tsbuildinfo
.pnpm-debug.log*
.idea/
.vscode/
*.swp

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

coverage/
jest-coverage/

client/node_modules/
client/.next/
client/out/
client/build/
client/next-env.d.ts


server/node_modules/
server/build/
server/dist/
server/.next/   # якщо в майбутньому SSR через Next.js
server/.env
